In [44]:
import pandas as pd
from pathlib import Path
import os

In [45]:
from pathlib import Path
import os
p = Path(os.getcwd()).parents[2] #donne path vers fichier contenant data ( 3 level up d ici)
df=pd.read_csv(str(p)+"\\data\\ETHUSD_1.csv")

In [46]:
df

         1438956180         3.0       3.0.1    3.0.2    3.0.3  81.85727776   2
0        1438967940     3.00001     3.00001     3.00     3.00    42.073291   2
1        1439016180     3.00000     3.00000     3.00     3.00     0.400000   1
2        1439026260     2.00000     2.00000     2.00     2.00   125.000000   2
3        1439051400     1.20000     1.20000     1.20     1.20    54.759700   1
4        1439051460     1.20000     1.20000     1.20     1.20    53.747100   1
...             ...         ...         ...      ...      ...          ...  ..
3000448  1696117980  1670.73000  1670.73000  1670.73  1670.73     0.209407   5
3000449  1696118040  1670.73000  1670.73000  1670.73  1670.73     5.331141   4
3000450  1696118100  1671.60000  1671.60000  1671.60  1671.60     0.394274   1
3000451  1696118220  1671.58000  1671.58000  1671.58  1671.58     0.014400   2
3000452  1696118280  1671.59000  1671.59000  1671.00  1671.01    49.022348  13

[3000453 rows x 7 columns]

In [47]:
df.loc[-1]=df.columns
df.index=df.index+1
df=df.sort_index()
#ajoute les noms des colonnes comme la premiere ligne du dataframe

In [48]:
df.rename(columns={"1438956180":"Time","3.0":"Open","3.0.1":"High","3.0.2":"Low","3.0.3":"Close","81.85727776":"Volume","2":"Trades"},inplace=True)
#renome les colonnes vers ce qu'elles représentent

In [49]:
df.loc[0,"Time"]=int(df.loc[0,"Time"])
for col in df.columns[1:5]:
    df.loc[0,col]=float(3.0)
df.loc[0,"Volume"]=float(df.loc[0,"Volume"])
df.loc[0,"Trades"]=int(df.loc[0,"Trades"])
#donne les bons types aux elements de la ligne ajoutee et remplace certaines valeurs douteuses comme 3.0.3 pour 3.0

In [50]:
df.isnull().sum().sum()
#verifie quil ny a pas de NaN

0

In [51]:
df.to_csv(str(p)+"\\data\\f_ETHUSD_1.csv",index=False)
#save le fichier formatte

In [52]:
df

               Time     Open     High      Low    Close     Volume Trades
0        1438956180      3.0      3.0      3.0      3.0  81.857278      2
1        1438967940  3.00001  3.00001      3.0      3.0  42.073291      2
2        1439016180      3.0      3.0      3.0      3.0        0.4      1
3        1439026260      2.0      2.0      2.0      2.0      125.0      2
4        1439051400      1.2      1.2      1.2      1.2    54.7597      1
...             ...      ...      ...      ...      ...        ...    ...
3000449  1696117980  1670.73  1670.73  1670.73  1670.73   0.209407      5
3000450  1696118040  1670.73  1670.73  1670.73  1670.73   5.331141      4
3000451  1696118100   1671.6   1671.6   1671.6   1671.6   0.394274      1
3000452  1696118220  1671.58  1671.58  1671.58  1671.58     0.0144      2
3000453  1696118280  1671.59  1671.59   1671.0  1671.01  49.022348     13

[3000454 rows x 7 columns]